<div class="content" [style.margin-top.px]="m.u.getAlturaAppbar()">
    <!-- <div class="content-title h1 mb-5">Home</div> -->


    <div class="group mt-5 mb-6" id="bio">
        <div class="row no-gutters">
            <div class="col-5 col-sm-4 p-3 p-sm-4">
                <div class="div-foto shadow-2-l"></div>
            </div>
            <div class="div-text col-7 col-sm-8 px-sm-4 pt-sm-4">

                <div class="linies">
                    <div class="bondia mb-2">Lorem Ipsum</div>
                    <div class="nom">
                        <span class="emdic">Quisquam est</span>
                        @if (m.esPantallaMobil()) { <br> }
                        Neque Tellus
                    </div>
                    <div class="programador">- Vestibulum ante -</div>
                </div>
                <!-- Recipient bio pc -->
                @if (m.esPantallaPc()) {
                    <div class="text bio mt-4">
                        <div *ngTemplateOutlet="bio"></div>
                    </div>
                }
                
            </div>
        </div>
        <!-- Recipient bio mobil -->
        @if (m.esPantallaMobil()) {
            <div class="text bio mt-4">
                <div *ngTemplateOutlet="bio"></div>
            </div>
        }
        <!-- Template bio -->
        <ng-template #bio>
            <span>
                Praesent eleifend eros non velit convallis accumsan. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ut interdum turpis. In facilisis libero ligula, quis maximus leo semper eu. Nulla facilisis lectus eu ipsum dignissim maximus. Nullam sed metus rhoncus, fermentum ex sit amet, faucibus quam.
                <br><br>
                Etiam auctor, elit eget viverra faucibus, nunc diam lacinia nisl, sed consectetur justo metus eu est. Etiam egestas eros ac quam fringilla, sed efficitur dui luctus.
                
            </span>
            <a class="boto mt-4 pl-3">Nulla ipsum</a>
        </ng-template>
    </div>


    <div class="group mb-6">
        <div class="subtitle mb-2">Aliquam erat</div>
        <p class="text mb-1">
            Nulla facilisi. Quisque pellentesque eros eget justo pretium, et sagittis erat facilisis. Donec molestie est nec ligula pharetra porta. Morbi convallis ipsum non erat rhoncus, a porta est luctus. Nulla vitae mi et felis scelerisque tristique eu a turpis. Integer sagittis, nisl a feugiat ultrices, nulla ipsum commodo orci, eget suscipit justo justo ac eros. Sed urna urna, mollis id arcu sit amet, fermentum molestie lorem. Phasellus nunc nunc, tristique sit amet malesuada a, congue non nisi. Pellentesque venenatis nisl non magna vulputate, pharetra auctor ante vulputate. Quisque fermentum varius suscipit.
            <br>
            <br>
            Donec volutpat sed odio id vulputate. Suspendisse finibus eu ex quis dapibus. Pellentesque orci felis, dictum non imperdiet ut, condimentum efficitur velit. Aenean at justo bibendum, convallis arcu ac, luctus neque. Maecenas euismod malesuada dignissim. Nulla facilisi. Proin imperdiet nisi tortor, vel fringilla metus pulvinar ut. Ut non luctus est. Duis finibus eu dui eget auctor. Vivamus neque dui, posuere id augue vel, sollicitudin congue ligula. Fusce ipsum erat, efficitur ut augue eu, dictum vehicula odio. Ut sodales orci sed facilisis pellentesque. Vivamus at erat ex. Suspendisse potenti. Duis ultricies nulla turpis, vitae volutpat tellus dignissim et.
            <br>
            <br>
            Sed mauris magna, interdum nec venenatis eget, scelerisque vitae sapien. Maecenas congue nec sem et elementum. Vivamus vitae accumsan magna. Phasellus varius, sem nec ultricies ornare, lorem magna consectetur nisi, non congue mauris orci a arcu. Suspendisse dignissim facilisis neque, ut vehicula urna convallis non. Etiam pretium ligula metus, eget porta lorem sagittis eu. Etiam lacus turpis, rhoncus sit amet pellentesque eu, fermentum at dui. Duis pharetra arcu massa, vel molestie enim aliquet in. Suspendisse sit amet ultricies eros. Donec convallis sit amet magna in maximus. Pellentesque elit magna, blandit lobortis ante vitae, viverra scelerisque erat. Aenean non justo tellus. Nam blandit est vitae nisi venenatis, sed aliquet eros facilisis. Fusce pulvinar pretium mauris, non molestie urna volutpat a. Vivamus molestie purus ac erat elementum ultricies. Phasellus porttitor sed ipsum sed cursus.
        </p>
    </div>


    <div class="group mb-6">
        <div class="subtitle mb-2">Accumsan aliquam</div>
        <p class="text mb-1">
            Vestibulum dictum ultrices sem. Ut est ante, maximus ut aliquam et, gravida non est. Cras id libero vel magna varius pretium et at urna. Donec porta, risus sit amet lacinia ultricies, lectus arcu tempus mauris, nec efficitur orci arcu sit amet tellus. Quisque congue libero magna, non porta eros sollicitudin at. Phasellus et elit vel purus tempus vestibulum nec sit amet metus. Nullam molestie porttitor mollis. Vestibulum commodo diam vitae luctus hendrerit. Integer suscipit lorem ut viverra ullamcorper.
            <br>
            <br>
            Duis pretium purus in feugiat efficitur. Vivamus bibendum sagittis convallis. Pellentesque commodo porttitor augue, dictum faucibus est. Sed a tempor odio. Phasellus sollicitudin mi at nisi pharetra ultrices. Mauris auctor est convallis quam laoreet, quis facilisis leo vulputate. Fusce interdum tellus ut nisl elementum, at feugiat tellus aliquam.
            <br>
            <br>
            Quisque eget maximus diam. Mauris fermentum tempor purus at tempus. Vivamus vel diam ac sapien vehicula maximus at tincidunt lorem. Curabitur elit sem, placerat a malesuada vel, imperdiet et eros. Pellentesque euismod lacus vel accumsan porttitor. Praesent eu urna turpis. Sed a dui metus. Morbi sed sodales turpis, eget aliquet enim.
            <br>
            <br>
            Maecenas purus nisi, sollicitudin at ornare sit amet, sollicitudin nec felis. Nunc tincidunt dolor consequat justo malesuada facilisis. Nunc tellus eros, tempor nec viverra eget, tempor ut turpis. Proin non dignissim risus. Aenean ultrices est orci, sed pulvinar tortor consectetur in. Maecenas mollis varius ultricies. Donec nulla velit, consequat quis ipsum ac, molestie aliquet tellus. Mauris dapibus blandit dui eu rhoncus. Praesent dictum eleifend risus, eu dapibus elit. Proin magna lectus, sollicitudin molestie pharetra at, mollis vitae mauris.
            <br>
            <br>
            Praesent ac nisl eget magna porttitor tincidunt vitae sit amet turpis. Mauris efficitur ultrices neque, sit amet facilisis est vulputate id. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque tincidunt, nisl non luctus faucibus, leo libero iaculis velit, ac finibus nisl mi at ligula. Aliquam nec scelerisque massa. Nullam pretium vulputate aliquet. Mauris viverra gravida mi, non laoreet magna iaculis a. Integer vulputate in diam at condimentum.
            <br>
            <br>
            Donec tempus velit eget convallis aliquet. Cras et tellus at velit accumsan aliquam eu ut lectus. Aenean accumsan elit nec luctus tristique. Vivamus dapibus auctor dui a tincidunt. Vivamus porttitor nisi eu erat sagittis, ut feugiat nunc finibus. Cras congue, ante ut laoreet volutpat, nisi diam egestas mauris, sed dictum arcu ante vel mauris. Nunc volutpat libero ac enim convallis gravida. Donec pulvinar vitae ante et gravida. Curabitur elementum venenatis euismod. Fusce sit amet convallis ligula. Suspendisse potenti.
        </p>
    </div>

    
</div>
