<div class="content" [style.margin-top.px]="m.u.getAlturaAppbar()">
    <!-- <div class="content-title h1 mb-5">Home</div> -->


    <div class="group mt-5 mb-6" id="bio">
        <div class="row no-gutters">
            <div class="col-5 col-sm-4 p-3 p-sm-4">
                <div class="div-foto shadow-2-l"></div>
            </div>
            <div class="div-text col-7 col-sm-8 px-sm-4 pt-sm-4">

                <div class="linies">
                    <div class="bondia mb-2">Lorem Ipsum</div>
                    <div class="nom">
                        <span class="emdic">Quisquam est</span>
                        @if (m.esPantallaMobil()) { <br> }
                        Neque Tellus
                    </div>
                    <div class="programador">- Vestibulum ante -</div>
                </div>
                <!-- Recipient bio pc -->
                @if (m.esPantallaPc()) {
                    <div class="text bio mt-4">
                        <div *ngTemplateOutlet="bio"></div>
                    </div>
                }
                
            </div>
        </div>
        <!-- Recipient bio mobil -->
        @if (m.esPantallaMobil()) {
            <div class="text bio mt-4">
                <div *ngTemplateOutlet="bio"></div>
            </div>
        }
        <!-- Template bio -->
        <ng-template #bio>
            <span>
                Praesent eleifend eros non velit convallis accumsan. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ut interdum turpis. In facilisis libero ligula, quis maximus leo semper eu. Nulla facilisis lectus eu ipsum dignissim maximus. Nullam sed metus rhoncus, fermentum ex sit amet, faucibus quam.


                
                <br><br>
                
                Etiam auctor, elit eget viverra faucibus, nunc diam lacinia nisl, sed consectetur justo metus eu est. Etiam egestas eros ac quam fringilla, sed efficitur dui luctus.
                
            </span>
            <a class="boto mt-4 pl-3">Nulla ipsum</a>
        </ng-template>
    </div>


    
</div>
