// .wrapper {
//     position: fixed;
//     inset: 0;
//     z-index: 1000;
//     // background-color: rgba(0, 106, 255, 0.192);
//     backdrop-filter: blur(50px);

    .group {
        position: fixed;
        max-height: 75vh;
        max-width: 88vw;
        margin: 2rem;

        background-color: hsla(180, 100%, 16%, 0.7);
        color: hsl(180, 100%, 89%);
        accent-color: cyan;

        overflow: hidden;

        transform: translateX(-100%);
        transition: transform 0.3s, border 0.3s;

        &:not(.mostrat) {
            border-radius: 2rem;
            cursor: pointer;
            // border-right: 3rem solid var(--color-5);
            padding-right: 3rem;

            .titol, .settings, .print-settings, .boto {
                filter: blur(20px) !important;
                pointer-events: none;
            }
        }
        &.mostrat {
            transform: translateX(0);
            .text-settings {
                opacity: 0;
                cursor: default;
            }
        }

        > .titol {
            font-size: 1.8rem;
            text-align: center;
            transition: filter 0.3s;
        }
        .settings {
            transition: filter 0.3s;

            .grup-settings {
                .titol {
                    font-size: 1.3rem;
                }
                .theme-buttons {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 0.25rem;

                    .boto {
                        font-size: 1rem;
                        padding: 0.25rem 0.75rem;
                        border-radius: 1rem;
                        background-color: transparent;
                        color: var(--color-clar) !important;

                        &:not(.selected):hover {
                            background-color: var(--text-10) !important;
                        }
                        

                        &.selected {
                            background-color: var(--color-7);
                            color: var(--fons) !important;
                        }
                    }
                }
                textarea {
                    min-height: 66.22px;
                    padding: 0 0.25rem;
                }
            }
        }

        .print-settings {
            font-family: consolas, monospace;
            white-space: break-spaces;
        }

        .botons {
            text-align: right;
            // position: absolute;
            // bottom: 1rem;
            // right: 1rem;

            .boto {
                background-color: hsl(180, 100%, 72%);
                color: hsl(180, 100%, 16%) !important;
                padding: 0.5rem 2rem;
                transition: background-color 0.3s, filter 0.3s;

                &:hover {
                    background-color: hsl(180, 100%, 91%) !important;
                }
            }
        }
    }
// }

.text-settings {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%) translateX(50%) rotate(90deg);
    transform-origin: center;
    padding-top: 1.8rem;
    font-size: 1.2rem;
    transition: font-size 0.3s, opacity 0.3s, padding-top 0.3s;
}


// Media queries //
// Pantalla PC //
@media only screen and (min-width: 576px) {
    .group {
        min-width: 500px;
    }
}
// Pantalla Mòbil //
@media only screen and (max-width: 575px) {
    .group {
        left: 0;
        right: 0;

        > .titol {
            font-size: 1.6rem;
        }

        .print-settings {
            display: none;
        }
    }
}
// PC //
@media (pointer: fine) {
    .group:not(.mostrat):hover {
        transform: translateX(calc(-100% + 4rem));

        .text-settings {
            padding-top: 6rem;
            font-size: 2rem;
        }
    }
}
// Mòbil //
@media (pointer: coarse) { }
