<!-- <div class="wrapper" [style.top.px]="m.u.getAlturaAppbar()"> -->
    <div class="group shadow-4" [style.top.px]="m.u.getAlturaAppbar()" [class.mostrat]="mostrat" (click)="mostrat=true">
        <div class="titol mb-3">Navigation Tab Settings</div>

        <div class="settings">
            <div class="grup-settings row no-gutters mb-4">
                <div class="titol col-12 col-md-6">Border radius:</div>
                <input type="range" min="0" max="25" [(ngModel)]="m.nt_settings.borderRadius" class="col-12 col-md-6">
            </div>
            <div class="grup-settings row no-gutters mb-4">
                <div class="titol col-12 col-md-6">Width:</div>
                <input type="range" min="0" max="500" [(ngModel)]="m.nt_settings.width" class="col-12 col-md-6">
            </div>
        </div>


        <span style="white-space: break-spaces;">{{printSettings()}}</span>

        
        <!-- <div>
            <div>Dark mode</div>
            <input type="range">
        </div> -->
        
        <br>
        Dark mode
        <br>
        options?
        <br>
        width
        <br>
        temes

        


        <div class="botons">
            <button class="boto" (click)="mostrat=false; $event.stopPropagation();">Close</button>
        </div>

        <!-- Titol etiqueta desplegar -->
        <div class="text-settings">Settings</div>
    </div>
<!-- </div> -->
