<!-- <div class="wrapper" [style.top.px]="m.u.getAlturaAppbar()"> -->
    <div class="group shadow-4" [style.top.px]="m.u.getAlturaAppbar()" [class.mostrat]="mostrat" (click)="mostrat=true">
        <!-- <button class="botoFletxa" (click)="closeClick($event)">
            <i class="fa-solid fa-arrow-left"></i>
        </button> -->
        <div class="titol mb-3">Navigation Tab Settings</div>

        
        
        
        <div class="settings">
            <div class="grup-settings row no-gutters mb-3">
                <div class="titol col-12 col-md-6 mb-2">Border radius (px):</div>
                <input type="range" min="0" [max]="m.esPantallaPc()?25:22" [(ngModel)]="m.nt_settings.borderRadius" class="col-12 col-md-6">
            </div>
            <div class="grup-settings row no-gutters mb-3">
                <div class="titol col-12 col-md-6 mb-2">Width (%):</div>
                <input type="range" min="20" max="100" [(ngModel)]="m.nt_settings.width" class="col-12 col-md-6">
            </div>
            <div class="grup-settings row no-gutters mb-3">
                <div class="titol col-12 col-md-12 mb-2">Themes:</div>
                <div class="theme-buttons col-12 col-md-12">
                    <button class="boto" [class.selected]="m.tema == 'matinada'" (click)="m.appbar.actTema('matinada')">Yellow</button>
                    <button class="boto" [class.selected]="m.tema == 'mati'" (click)="m.appbar.actTema('mati')">Blue</button>
                    <button class="boto" [class.selected]="m.tema == 'tarda'" (click)="m.appbar.actTema('tarda')">Orange</button>
                    <button class="boto" [class.selected]="m.tema == 'vespre'" (click)="m.appbar.actTema('vespre')">Purple</button>
                    <button class="boto" [class.selected]="m.tema == 'nit'" (click)="m.appbar.actTema('nit')">Black / White</button>
                </div>
            </div>
            <div class="grup-settings row no-gutters mb-3">
                <div class="titol col-12 col-md-6 mb-2">Section list (Separated by commas):</div>
                <textarea [(ngModel)]="m.nt_settings.sectionsString" class="col-12 col-md-6" (blur)="textareaModificat()"></textarea>
            </div>
            <div class="grup-settings row no-gutters mb-3">
                <div class="titol col-6" style="align-self:center;">Dark mode:</div>
                <div class="botonsDarkMode col-6">
                    <button (click)="animacioDarkMode('dark');" class="botoDarkMode" [title]="m.modeFosc ? 'Light mode' : 'Dark mode'">
                        <i *ngIf="m.modeFosc" class="fa-solid fa-sun"></i>
                        <i *ngIf="!m.modeFosc" class="fa-solid fa-moon"></i>
                    </button>
                    <!-- <button (click)="animacioDarkMode('auto');" class="botoAutoMode ml-1" title="Auto dark mode" style="display:none;">
                        <i class="fa-solid fa-a"></i>
                    </button> -->
                </div>
            </div>
        </div>


        <!-- <span class="print-settings">{{printSettings()}}</span> -->

        
        <!-- Dark mode -->


        <div class="botons">
            <button class="boto" (click)="closeClick($event)">Close</button>
        </div>

        <!-- Titol etiqueta desplegar -->
        <div class="text-settings">Navigation Tab Settings</div>
    </div>
<!-- </div> -->
