// .wrapper {
//     position: fixed;
//     inset: 0;
//     z-index: 1000;
//     // background-color: rgba(0, 106, 255, 0.192);
//     backdrop-filter: blur(50px);

    .group {
        position: fixed;
        // top: 50%;
        // transform: translateY(-50%);
        margin: 2rem;
        padding: 2rem;

        --fons: hsl(180, 100%, 16%) !important;
        --fons-70: hsla(180, 100%, 16%, 0.7) !important;
        --text: hsl(180, 100%, 89%) !important;
        background-color: var(--fons-70);
        color: var(--text);
        accent-color: cyan;

        transition: transform 0.3s, border 0.3s;
        transform: translateX(-100%);

        &:not(.mostrat) {
            border-radius: 2rem;
            cursor: pointer;
            // border-right: 3rem solid var(--color-5);
            padding-right: 3rem;

            .titol, .settings, .boto {
                filter: blur(20px) !important;
                pointer-events: none;
            }
        }
        &.mostrat {
            transform: translateX(0);
            .text-settings {
                opacity: 0;
                cursor: default;
            }
        }

        > .titol {
            font-size: 1.8rem;
            transition: filter 0.3s;
        }
        .settings {
            transition: filter 0.3s;

            .grup-settings {
                .titol {
                    font-size: 1.3rem;
                }
            }
        }

        .botons {
            text-align: right;

            .boto {
                background-color: hsl(180, 100%, 72%);
                transition: background-color 0.3s, filter 0.3s;
                &:hover {
                    background-color: hsl(180, 100%, 91%) !important;
                }
            }
        }
    }
// }

.text-settings {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%) translateX(50%) rotate(90deg);
    transform-origin: center;
    padding-top: 1.8rem;
    font-size: 1.2rem;
    transition: font-size 0.3s, opacity 0.3s, padding-top 0.3s;
}


// Media queries //
// Pantalla PC //
@media only screen and (min-width: 576px) {
    .group {
        min-width: 500px;
    }
}
// Pantalla Mòbil //
@media only screen and (max-width: 575px) {
    .group {
        left: 0;
        right: 0;
    }
}
// PC //
@media (pointer: fine) {
    .group:not(.mostrat):hover {
        transform: translateX(calc(-100% + 4rem));

        .text-settings {
            padding-top: 6rem;
            font-size: 2rem;
        }
    }
}
// Mòbil //
@media (pointer: coarse) { }
