<div class="contenidor" [style.borderRadius.px]="m.nt_settings.borderRadius">
    <!-- <button
        routerLinkActive="selected"
        [routerLinkActiveOptions]="{exact: true}"
        [routerLink]="['/home']"
        (click)="onTabClick($event.target)"
        [style.borderRadius.px]="m.nt_settings.borderRadius-4"
    >
        Home
    </button>
    <button
        routerLinkActive="selected"
        [routerLinkActiveOptions]="{exact: true}"
        [routerLink]="['/experience']"
        (click)="onTabClick($event.target)"
        [style.borderRadius.px]="m.nt_settings.borderRadius-4"
    >
        Experience
    </button>
    <button
        routerLinkActive="selected"
        [routerLinkActiveOptions]="{exact: true}"
        [routerLink]="['/projects']"
        (click)="onTabClick($event.target)"
        [style.borderRadius.px]="m.nt_settings.borderRadius-4"
    >
        Projects
    </button> -->
    
    @for (seccio of this.m.nt_settings.sections; track this.m.nt_settings.sections) {
        <button
            routerLinkActive="selected"
            [routerLinkActiveOptions]="{exact: true}"
            [routerLink]="['/'+seccio]"
            [style.borderRadius.px]="m.nt_settings.borderRadius-4"
        >
            {{seccio}}
        </button>
    }
    
    <div #pill class="pill" [style.borderRadius.px]="m.nt_settings.borderRadius-4"></div>
    
</div>

<!-- Jordi Mas Parramon - xordimas@gmail.com - https://github.com/jordimas96 -->
