<div class="content" [style.margin-top.px]="m.u.getAlturaAppbar()">
    <div class="content-title h1 mb-5" appMostrarAmbAnimacio>
        Personal projects
    </div>


    <div class="group mb-6">
        <div class="subtitle mb-2">Curabitur porta</div>
        <p class="text mb-1">
            Nulla a erat dignissim, varius urna quis, viverra risus. Suspendisse malesuada nec magna a feugiat. Pellentesque lacinia tempus metus. Ut ex purus, cursus convallis dolor ut, condimentum pretium lacus. Nullam risus lacus, pretium in egestas a, dictum vitae velit. Nulla et leo quis justo posuere ullamcorper. Interdum et malesuada fames ac ante ipsum primis in faucibus.
            <br>
            <br>
            Mauris odio tellus, efficitur id lorem quis, faucibus tincidunt dolor. Pellentesque lobortis est nec augue gravida hendrerit. Aenean elit velit, imperdiet non quam id, sodales consequat dolor. Aenean eleifend mollis ipsum, eget elementum justo eleifend quis. Mauris quis tincidunt sem. Praesent eget nulla auctor, fringilla lectus in, ornare nulla. Morbi eu erat mi. Nam ac porta nunc, dictum tincidunt arcu. Proin lectus nulla, vestibulum vel accumsan vitae, tempor eu nunc. Aliquam vel nunc rutrum diam auctor viverra vel egestas mauris. Nulla facilisi. In libero tortor, finibus a velit nec, maximus sollicitudin enim. Maecenas euismod ut sapien ut tempus. Aliquam semper turpis sed porttitor dapibus.
        </p>

    </div>

</div>
