<div class="content" [style.margin-top.px]="m.u.getAlturaAppbar()">
    <div class="content-title h1 mb-5" appMostrarAmbAnimacio>
        Professional experience
    </div>

    <div class="group mb-6">
        <div class="subtitle mb-2">Class aptent taciti</div>
        <p class="text mb-1">
            Aliquam vel risus sit amet dui consequat faucibus. Integer eget ante sed mi tempus ultricies. Sed ultrices fringilla dapibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Pellentesque aliquam mi eros, eu commodo nulla ultricies vel. Suspendisse interdum in neque a consequat. Vivamus a turpis arcu. Aliquam cursus tincidunt odio sit amet convallis. Sed ut maximus arcu. Suspendisse vitae interdum justo. Aliquam vitae massa lobortis, commodo nulla sit amet, commodo tortor. Aenean commodo commodo suscipit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed faucibus velit ipsum, ac posuere sem mattis vel. Vivamus euismod congue vehicula. Duis viverra lorem sit amet venenatis egestas.
            <br><br>
            Nulla a erat dignissim, varius urna quis, viverra risus. Suspendisse malesuada nec magna a feugiat. Pellentesque lacinia tempus metus. Ut ex purus, cursus convallis dolor ut, condimentum pretium lacus. Nullam risus lacus, pretium in egestas a, dictum vitae velit. Nulla et leo quis justo posuere ullamcorper. Interdum et malesuada fames ac ante ipsum primis in faucibus.
            <br><br>    
            Etiam vitae turpis consequat, fermentum magna et, rhoncus turpis. Aenean dignissim orci quis dolor sagittis vehicula. Nulla dui nisl, dictum quis velit non, interdum convallis sapien. Mauris at tellus consectetur, aliquam ipsum vel, dictum metus. Phasellus at eros eu elit ullamcorper accumsan. Nunc vel mattis eros. Praesent gravida lobortis neque eu ornare. In placerat, erat et ultricies aliquet, sem leo iaculis dui, vel feugiat risus tortor et augue. Quisque ut elit ultricies, imperdiet risus nec, egestas magna. Proin iaculis vulputate diam, maximus sollicitudin ipsum condimentum a. Proin ac cursus libero. Proin eu nisi rutrum, porttitor ligula vel, convallis ipsum. In nec justo non libero hendrerit blandit.
            
            
        </p>

    </div>
    
</div>
