<div class="content" [style.margin-top.px]="m.u.getAlturaAppbar()">
    <div class="content-title h1 mb-5" appMostrarAmbAnimacio>
        Professional experience
    </div>


    <div class="group mb-6">
        <div class="subtitle mb-2">Donec volutpat</div>
        <p class="text mb-1">
            Aliquam vel risus sit amet dui consequat faucibus. Integer eget ante sed mi tempus ultricies. Sed ultrices fringilla dapibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Pellentesque aliquam mi eros, eu commodo nulla ultricies vel. Suspendisse interdum in neque a consequat. Vivamus a turpis arcu. Aliquam cursus tincidunt odio sit amet convallis. Sed ut maximus arcu. Suspendisse vitae interdum justo. Aliquam vitae massa lobortis, commodo nulla sit amet, commodo tortor. Aenean commodo commodo suscipit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed faucibus velit ipsum, ac posuere sem mattis vel. Vivamus euismod congue vehicula. Duis viverra lorem sit amet venenatis egestas.
            <br><br>
            Nulla a erat dignissim, varius urna quis, viverra risus. Suspendisse malesuada nec magna a feugiat. Pellentesque lacinia tempus metus. Ut ex purus, cursus convallis dolor ut, condimentum pretium lacus. Nullam risus lacus, pretium in egestas a, dictum vitae velit. Nulla et leo quis justo posuere ullamcorper. Interdum et malesuada fames ac ante ipsum primis in faucibus.
            <br><br>    
            Etiam vitae turpis consequat, fermentum magna et, rhoncus turpis. Aenean dignissim orci quis dolor sagittis vehicula. Nulla dui nisl, dictum quis velit non, interdum convallis sapien. Mauris at tellus consectetur, aliquam ipsum vel, dictum metus. Phasellus at eros eu elit ullamcorper accumsan. Nunc vel mattis eros. Praesent gravida lobortis neque eu ornare. In placerat, erat et ultricies aliquet, sem leo iaculis dui, vel feugiat risus tortor et augue. Quisque ut elit ultricies, imperdiet risus nec, egestas magna. Proin iaculis vulputate diam, maximus sollicitudin ipsum condimentum a. Proin ac cursus libero. Proin eu nisi rutrum, porttitor ligula vel, convallis ipsum. In nec justo non libero hendrerit blandit.
        </p>
    </div>


    <div class="group mb-6">
        <div class="subtitle mb-2">Pellentesque feugiat</div>
        <p class="text mb-1">
            Mauris iaculis, nunc sed blandit blandit, tellus tellus tempor mi, sed sagittis sem quam sollicitudin risus. Phasellus faucibus nibh id ligula tincidunt, eu dignissim diam tincidunt. Vivamus vitae urna a leo sollicitudin condimentum. Morbi sed convallis odio. Etiam vel sodales leo, non maximus ex. Aenean massa nisi, finibus sit amet dui eu, auctor tristique dolor. Integer a ligula pellentesque leo rutrum aliquam quis in libero. Pellentesque aliquam finibus turpis sit amet rutrum. Cras dictum tellus sit amet risus mollis interdum. Ut vitae vestibulum purus, et congue nisi. Aliquam sagittis volutpat leo eget tristique. Vivamus quam dolor, posuere eu sagittis eget, euismod non elit. Maecenas rhoncus neque a lectus dapibus, et tristique nulla aliquam. Phasellus feugiat consequat tincidunt. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            <br>
            <br>
            Nullam vulputate risus id pharetra luctus. Phasellus eu egestas mauris. Vivamus facilisis pellentesque sodales. Duis pulvinar dignissim dolor et condimentum. Maecenas felis ipsum, hendrerit eget elit nec, consequat interdum nulla. Donec facilisis scelerisque lectus, nec malesuada ante vulputate quis. Curabitur vestibulum nisi eleifend ligula maximus, ut dictum ipsum porta. Sed vel facilisis ligula, sit amet semper dolor. Aliquam in sagittis tellus. Integer mi leo, vulputate eget luctus vitae, tincidunt in augue. Sed et felis ante. Vivamus in suscipit est.
            <br>
            <br>
            Mauris odio tellus, efficitur id lorem quis, faucibus tincidunt dolor. Pellentesque lobortis est nec augue gravida hendrerit. Aenean elit velit, imperdiet non quam id, sodales consequat dolor. Aenean eleifend mollis ipsum, eget elementum justo eleifend quis. Mauris quis tincidunt sem. Praesent eget nulla auctor, fringilla lectus in, ornare nulla. Morbi eu erat mi. Nam ac porta nunc, dictum tincidunt arcu. Proin lectus nulla, vestibulum vel accumsan vitae, tempor eu nunc. Aliquam vel nunc rutrum diam auctor viverra vel egestas mauris. Nulla facilisi. In libero tortor, finibus a velit nec, maximus sollicitudin enim. Maecenas euismod ut sapien ut tempus. Aliquam semper turpis sed porttitor dapibus.
        </p>
    </div>


    <div class="group mb-6">
        <div class="subtitle mb-2">Nulla facilisi</div>
        <p class="text mb-1">
            Maecenas purus nisi, sollicitudin at ornare sit amet, sollicitudin nec felis. Nunc tincidunt dolor consequat justo malesuada facilisis. Nunc tellus eros, tempor nec viverra eget, tempor ut turpis. Proin non dignissim risus. Aenean ultrices est orci, sed pulvinar tortor consectetur in. Maecenas mollis varius ultricies. Donec nulla velit, consequat quis ipsum ac, molestie aliquet tellus. Mauris dapibus blandit dui eu rhoncus. Praesent dictum eleifend risus, eu dapibus elit. Proin magna lectus, sollicitudin molestie pharetra at, mollis vitae mauris.
            <br>
            <br>
            Praesent ac nisl eget magna porttitor tincidunt vitae sit amet turpis. Mauris efficitur ultrices neque, sit amet facilisis est vulputate id. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque tincidunt, nisl non luctus faucibus, leo libero iaculis velit, ac finibus nisl mi at ligula. Aliquam nec scelerisque massa. Nullam pretium vulputate aliquet. Mauris viverra gravida mi, non laoreet magna iaculis a. Integer vulputate in diam at condimentum.
            <br>
            <br>
            Donec tempus velit eget convallis aliquet. Cras et tellus at velit accumsan aliquam eu ut lectus. Aenean accumsan elit nec luctus tristique. Vivamus dapibus auctor dui a tincidunt. Vivamus porttitor nisi eu erat sagittis, ut feugiat nunc finibus. Cras congue, ante ut laoreet volutpat, nisi diam egestas mauris, sed dictum arcu ante vel mauris. Nunc volutpat libero ac enim convallis gravida. Donec pulvinar vitae ante et gravida. Curabitur elementum venenatis euismod. Fusce sit amet convallis ligula. Suspendisse potenti.
            <br>
            <br>
            Vestibulum pellentesque lectus id eros condimentum, sit amet vestibulum purus tempus. Nam eu lorem ac ex aliquam pulvinar. Maecenas nec semper leo. Donec faucibus auctor lacus, vel scelerisque metus pulvinar at. Donec scelerisque ante ut tortor euismod, et placerat dui faucibus. Donec nulla ligula, tempus in interdum ut, aliquet euismod neque. Ut cursus massa ac iaculis tempor. Donec et metus in ex pretium bibendum a ut turpis. Pellentesque id dolor et odio bibendum dignissim a vitae purus.
        </p>
    </div>
    
</div>
